.color1 {
    background-color: #ba3838;
}
.color2 {
    background-color: #3cc2d4;
}
.color3 {
    background-color: #e8c44d;
}
.color4 {
    background-color: #85e8b8;
}

.box {
    width: 200px;
    height: 100px;
    float: left;
}

#float-menu ul {
    list-style: none;
    padding: 0;
}

#float-menu li {
    float: left;
    padding: 10px;
}

#float-menu nav {
    overflow: hidden;
}