body {
    color: rgb(70, 63, 63);
    /* color: #a52a2a; */
}

/* id = latest-posts */
#latest-posts {
    color: rgb(37, 80, 83);
}

/* class = banner */
.banner {
    background: rgba(230, 230, 230, 0.8);
}

/* header の中にあるすべての li */
header li {
    list-style: none;
}