/* ブラウザの再読み込み */
/* Ctrl + R */
/* ブラウザのキャッシュクリアで再読み込み */
/* Ctrl + Shift + R */
body {
    color: rgb(70, 63, 63);
    /* color: #a52a2a; */
    /* font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', "Helvetica Neue", sans-serif; */
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    line-height: 2.0rem;
    margin: 0;
}

/* id = latest-posts */
#latest-posts {
    color: rgb(37, 80, 83);
}

#latest-posts ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
} 

.date-label {
    background: #2677a9;
    color: #ffffff;
    font-size: 0.5rem;
    padding: 5px 10px;
}

.new {
    color: rgb(197, 57, 57);
    font-size: 0.7rem;
    padding: 10px;
}

/* class = banner */
.banner {
    background: rgba(230, 230, 230, 0.8);
}

header ul {
    display: flex;
    padding: 0 10px;
    list-style: none;
}

/* 子孫要素: header の中にあるすべての li */
header li {
    padding: 10px;
}

/* 親子要素: header の直下にある nav */
header > nav {
    /* background-color: #3987aa; */
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    padding: 10px;
    color: #3987aa;
    /* border: 1px solid #3987aa;
    border-radius: 15px; */
    border-bottom: 1px solid #3987aa;
}

h2::before {
    content: "\01f414";
    margin-right: 10px;
}

a {
    color: #3077be;
    text-decoration: none;
}

a:hover {
    color: #d01a1a;
}

#latest-posts li:hover {
    background: #ece7e7;
}

/* a:visited {
    color: green;
} */

footer {
    padding: 10px;
    background: #3077be;
    color: #ffffff;
    text-align: right;
    font-size: 0.7rem;
}

.background {
    /* height: 300px; */
    padding-top: 30%;
    background-size: cover;
    background-position: bottom;
}

#top .background {
    background-image: url(../images/tokyo_station.jpg);
}

#profile .background {
    background-image: url(../images/ez.jpg);
}

.container {
    margin: 0 30px;
}